[*]

# https://marketplace.visualstudio.com/items?itemName=PaulHarrington.EditorGuidelinesPreview
guidelines = 120

[*.cs]

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none

# IDE0066: Convert switch statement to expression
dotnet_diagnostic.IDE0066.severity = none

# IDE0090: 'new' expression can be simplified
dotnet_diagnostic.IDE0090.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

[*.cs]

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
csharp_new_line_before_catch = false
csharp_new_line_before_else = true
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true
